header img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; /* Réduire ou supprimer la marge du bas */
}

h1 {
    margin-top: 0; /* Supprimer ou réduire la marge du haut */
    text-align: center;
}

header {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light grey background */
  color: #333; /* Dark grey text */
}

nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  text-align: center; 
}

nav ul li {
  display: inline; /* Display list items inline */
  margin-right: 20px; /* Add some space between the list items */
}

nav a {
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set link color to black */
}

nav a:hover {
  text-decoration: underline; /* Underline on hover */
}

h1{
  color: #333;
  text-align: center;
  
}


h3 {
  color: #333; 
}

form {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #333; /* Dark grey to match the body text */
}

input[type="text"],
input[type="datetime-local"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333; /* Dark grey to match the header */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: yellow; /* Bright color for hover state */
  color: #333;
}

