body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('tennis.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center; 
}


header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em 0;
}

nav a {
    text-decoration: none;
    color: yellow;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    color: white;
}

footer {
    
    color: green;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

header, footer {
  background-color: rgba(40, 40, 40, 0.3); /* Adjust the opacity as needed */
  color: white;
  text-align: center;
  padding: 2em 0;
}

